/* Remove default margin to prevent it from stopping other elements filling the full width of the page */
* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex; /* Children of the body will be positioned by flex */
    flex-direction: column; /* Children of the body will be positioned in a column */
}

main {
    flex-grow: 1; /* The main container will grow to fill the left over space */
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    /* Graded background added to allow for better text contrast */
    background: linear-gradient(90deg, #4aa4ab00 0, #4aa4abd1 10% 90%, #4aa4ab00 100%);
    border-radius: 5px;
}

/* Set background image to always fill the full window and sit behind all other content */
#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

footer {
    width: 100%;
    background-color:#8cd3da;    
    height: 4rem;
    box-sizing: border-box;
    display: flex;
}

/* Page Elements */
h1, h2 {
    color: #161e8b;
    margin: 0.5rem;
}

p {
    margin: 2rem;
}

#magic-8-ball {
    margin: 0 auto;
    width: 50%;
}

#ask-eightball {
    margin: 1rem;
}

.question-container {
    margin: 1rem;
}

#submit-question {
     margin: 1rem;
     background-color: #09201d;
     color: #c9e8b8;
     border-radius: 5px;
     padding: 0.5rem;
}


footer > p {
    margin: 1rem;
    line-height: 2rem;
}

footer > ul {
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    font-size: 2rem;
    margin: 1rem 0.5rem;
    line-height: 2rem;
    
}

.icon {
    color: #161e8b;
}

@media screen and (min-width: 700px) {
    body {
        font-size: 20px;
    }
    p {
        margin: 2.5rem;
    }
}